{% extends "layout.html.twig" %}

{% block content %}

  <table border='0' cellspacing='10' cellpadding='0' style="background-color: #D8E3E7">
    <tr>  
      <td>
        {{ grid(grid) }}
      </td>    
    </tr>
  </table>

{% endblock %}